.footer {
    line-height: 40px;
    color: #ffffff;
    background-color: #474f57;
    box-shadow: 0 0 0 100vmax #474f57;
    clip-path: inset(0 -100vmax);
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}